<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>병원상세정보</title>
     <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
</head>
<body>
    <table class="table table-striped">
  <tbody>
    <tr>
      <th scope="row">예방 접종 센터 명</th>
      <td>Mark</td>
    </tr>
    <tr>
      <th scope="row">시도</th>
      <td>Jacob</td>
    </tr>
    <tr>
      <th scope="row">시군구</th>
      <td colspan="2">Larry the Bird</td>
    </tr>
    <tr>
        <th scope="row">시설명</th>
        <td colspan="2">Larry the Bird</td>
    </tr>
    <tr>
        <th scope="row">우편번호</th>
        <td colspan="2">Larry the Bird</td>
    </tr>
    <tr>
        <th scope="row">주소</th>
        <td colspan="2">Larry the Bird</td>
    </tr>
    <tr>
        <th scope="row">예방 접종 센터 유형</th>
        <td colspan="2">Larry the Bird</td>
    </tr>
    <tr>
        <th scope="row">운영기관</th>
        <td colspan="2">Larry the Bird</td>
    </tr>
    <tr>
        <th scope="row">사무실 전화번호</th>
        <td colspan="2">Larry the Bird</td>
    </tr>
  </tbody>
</table>
<div id="return-box">
    <button onclick="window.location.href='/'">돌아가기</button>
</div>
</body>
</html>